In [1]:
print('Learning Python now!')

Learning Python now!

In [2]:
print('Python is fun')

Python is fun

In [3]:
#display two messages
print('Learning Python now!')
print('Python is fun')

Learning Python now!
Python is fun

In [4]:
#Convert Fahrenheit to Celsius
print('Fahrenheit 80 is Celsius degree')
print(5/9*80-32)

Fahrenheit 80 is Celsius degree
12.444444444444443

In [5]:
#Convert miles to Kilometers
print('mile 96 is Kilometer')
print(96*1.6)

mile 96 is Kilometer
153.60000000000002

In [6]:
#Convert Fahrenheit to Celsius
print('Fahrenheit 100 is Celsius degree')
print(5/9*100-32)

Fahrenheit 100 is Celsius degree
23.555555555555557

In [7]:
#Convert feet to meter
print('feet 90 is meter')
print(90*30.5/100)

feet 90 is meter
27.45

In [8]:
print(12345)

12345

In [9]:
print(123.456)

123.456

In [10]:
print("Learning Python now!")

Learning Python now!

In [11]:
print('Learning Python now!')

Learning Python now!

In [12]:
print('Python is fun')
print("Les's go")

Python is fun
Les's go

In [13]:
print('\\n is skip a line')

\n is skip a line

In [14]:
print('Learning Python now!\nPython is fun')

Learning Python now!
Python is fun

In [15]:
print('|\tHello,world|')

|	Hello,world|

In [16]:
print('|Hello,\t world|')

|Hello,	 world|

In [17]:
print('\\n is skip a line')

\n is skip a line

In [18]:
print('\"Hello,everyone\"')

"Hello,everyone"

In [19]:
print('Radius =',12)

Radius = 12

In [20]:
print('Hello,')
print('world')

Hello,
world

In [21]:
print('Hello,',end = '')
print('world')

Hello,world

In [22]:
print('Hello,','world')

Hello, world

In [23]:
print('Hello,', end = '***')
print('world')

Hello,***world

In [24]:
print('***Hello,world',end='***')
print('')
print('Hello,Python')
print('excellent!!!')

***Hello,world***
Hello,Python
excellent!!!

In [25]:
print(format(100,'8d'))

     100

In [26]:
print(format(100000,'3d'))

100000

In [27]:
print(format(100,'8x'))
print(format(100,'8o'))
print(format(100,'8b'))

      64
     144
 1100100

In [28]:
print(format(0.2389,'6.2%'))

23.89%

In [29]:
print(format(123.456,'8.2f'))

  123.46

In [30]:
print(format('Python is fun','15s'))

Python is fun

In [31]:
print(format('Python is fun','>15s'))

  Python is fun

In [32]:
print(format(12345,'10d'))

     12345

In [33]:
print(format(12345,'<10d'))

12345

In [34]:
print(format(12345,'^11d'))

   12345

In [35]:
print(12345,12,1234567)
print(12,123,1234567)
print(123,1234567,1345)

12345 12 1234567
12 123 1234567
123 1234567 1345

In [36]:
print(format(12345,'10d'),end='')
print(format(12,'10d'),end='')
print(format(1234567,'10d'))
print(format(12,'10d'),end='')
print(format(123,'10d'),end='')
print(format(1234567,'10d'))
print(format(123,'10d'),end='')
print(format(1234567,'10d'),end='')
print(format(123,'10d'))

     12345        12   1234567
        12       123   1234567
       123   1234567       123

In [37]:
print(format(12345,'10d'),format(12,'10d'),format(1234567,'10d'))
print(format(12,'10d'),format(123,'10d'),format(1234567,'10d'))
print(format(123,'10d'),format(1234567,'10d'),format(123,'10d'))

     12345         12    1234567
        12        123    1234567
       123    1234567        123

In [38]:
print('%10d'%(12345))

     12345

In [39]:
print('|%10d|'%(12345))

|     12345|

In [40]:
print('|%3d|'%(12345))

|12345|

In [41]:
print('|%-10d|'%(12345))

|12345     |

In [42]:
print('|%8.2f|'%(123.456))
print('|%8.2f|'%(1.23456))
print('|%8.2f|'%(1234.56))
print('|%8.2f|'%(12.3456))
print('|%8.2f|'%(12345.6))

|  123.46|
|    1.23|
| 1234.56|
|   12.35|
|12345.60|

In [43]:
print('|%.2f|'%(123.456))
print('|%.2f|'%(1.23456))
print('|%.2f|'%(1234.56))
print('|%.2f|'%(12.3456))
print('|%.2f|'%(12345.6))

|123.46|
|1.23|
|1234.56|
|12.35|
|12345.60|

In [44]:
print('|%30s|'%('Learning Python now!'))
print('|%-30s|'%('Learning Python now!'))
print('|%15s|'%('Learning Python now!'))

|          Learning Python now!|
|Learning Python now!          |
|Learning Python now!|

In [45]:
print('width =%2d,height =%2d,area =%3d'%(5,7,24))

width = 5,height = 7,area = 24

In [46]:
print('%10d%10d%10d'%(12345,12,1234567))
print('%10d%10d%10d'%(12,123,1234567))
print('%10d%10d%10d'%(123,1234567,123))

     12345        12   1234567
        12       123   1234567
       123   1234567       123

In [47]:
print('%d%% orange juice'%(100))

100% orange juice

In [48]:
print('{0}'.format(123))
print('{0},{1}'.format(123,12345))
print('{0:5d},{1:7}'.format(123,12345))
print('x={0:5d},y={1:7d}'.format(123,12345))
print('x={p:5d},y={q:7d}'.format(p=123,q=12345))

123
123,12345
  123,  12345
x=  123,y=  12345
x=  123,y=  12345

In [49]:
print('|%10d %9d %9d|'%(12345,12,1234567))
print('|%10d %9d %9d|'%(12,1234567,123))
print('|%10d %9d %9d|'%(1234567,123,12345))

|     12345        12   1234567|
|        12   1234567       123|
|   1234567       123     12345|

In [50]:
print(format('Department','12s'))
print(format('of','12s'))
print(format('Computer','12s'))
print(format('Science','12s'))
print()

Department
of
Computer
Science

In [51]:
print(format('Department','>12s'))
print(format('of','>12s'))
print(format('Computer','>12s'))
print(format('Science','>12s'))

  Department
          of
    Computer
     Science

In [52]:
print(format(123.456,'10.2f'))
print(format(12345.678,'10.2f'))

    123.46
  12345.68

In [53]:
print('i=%d'%(100))
print('i=%d,j=%d'%(100,200))

i=100
i=100,j=200

In [54]:
print('Price:$%8.2f'%(356.08977))
print('%10.2f %10.2f'%(123.456,345.789))
print('%-10.2f%5d'%(123.456,100))
print('radius=%d,area=%7.2f'%(5,5*5*3.14159))
print('Raidus:{a:3d},Area:{b:10.2f}'.format(a=5,b=5*5*3.1419))

Price:$  356.09
    123.46     345.79
123.46      100
radius=5,area=  78.54
Raidus:  5,Area:     78.55

In [55]:
print('%.2f degree Celsius in Fahrenheit \
    is%.2f'%(3.25,3.25*1.8+32))
print('%.2f degree Fahrenheit in Celsius \
    is%.2f'%(94.5,(94.5-32)/1.8))

3.25 degree Celsius in Fahrenheit     is37.85
94.50 degree Fahrenheit in Celsius     is34.72

In [56]:
print('%-15s%-10s'%('Month','Amount'))
print('%-15d%-10.2f'%(1,43400.2))
print('%-15d%-10.2f'%(2,45430.28))
print('%-15d%-10.2f'%(3,48030.48))
print('%-15d%-10.2f'%(4,51112.96))
print('%-15d%-10.2f'%(5,5285702))

Month          Amount
1              43400.20
2              45430.28
3              48030.48
4              51112.96
5              5285702.00

In [57]:
print('|%10d %9d %9d|'%(12345,12,1234567))
print('Raidus:{a:3d},Area:{b:10.2f}'.format(a=5,b=5*3.14159))
print(format('10.2f','123.456'))
print('%-15d%-10.2f'%(1,43400.2))
print('x={0:5d},y={1:7d}'.format(123,12345))

|     12345        12   1234567|
Raidus:  5,Area:     15.71
10.2f
1              43400.20
x=  123,y=  12345

In [58]:
print(format(123,'<6d'),format(45,'4d'))
print(format(123456),format(78901,'7d'))
print('{0}{1:8d}'.format(123,45))
print('{0}{1:8d}'.format(123456,78901))
print('%-6d %4d'%(123,45))
print('%-6d %7d'%(123456,78901))

123      45
123456   78901
123      45
123456   78901
123      45
123456   78901

In [59]:
print('Member {0:7s},discount {1:3.2f}'.format('Karen',0.35))
print('Member {0:7s},discount {1:3.2f}'.format('Sammy',0.4))
print('Member {0:7s},discount {1:3.2f}'.format('JoJo',0.42))

Member Karen  ,discount 0.35
Member Sammy  ,discount 0.40
Member JoJo   ,discount 0.42

In [60]:
print('%20s %-20s'%('tall','short'))
print('%20s %-20s'%('strong','weak'))
print('%20s %-20s'%('thick','thin'))

                tall short
              strong weak
               thick thin

In [61]:
print('%20s %-20s'%('Apple\'s Products:','iPhone'))
print('%20s %-20s'%('','iMac'))
print('%20s %-20s'%('','Apple Watch'))
print('%20s %-20s'%('','...'))

   Apple's Products: iPhone
                     iMac
                     Apple Watch
                     ...

In [62]:
print('%-15s %7s'%('City','Celsius'))
print('%-15s %7.2f'%('Taipei',33.2))
print('%-15s %7.2f'%('Yilan',32.93))
print('%-15s %7.2f'%('MiaoLi',32.29))
print('%-15s %7.2f'%('Taichung',32.48))
print('%-15s %7.2f'%('HuaLian',33.87))

City            Celsius
Taipei            33.20
Yilan             32.93
MiaoLi            32.29
Taichung          32.48
HuaLian           33.87

In [63]:
print('|%6d%6d%6d%6d|'%(22,44,66,88))
print('|%-6d%-6d%-6d%-6d|'%(33,55,77,99))
print('|%6d%6d%6d%6d|'%(222,444,666,888))
print('|%-6d%-6d%-6d%-6d|'%(333,555,777,999))

|    22    44    66    88|
|33    55    77    99    |
|   222   444   666   888|
|333   555   777   999   |

In [64]:
print('---------')
print('Learning Pyhon now***')
print('Python is fun$$$')
print('---------')

---------
Learning Pyhon now***
Python is fun$$$
---------

In [65]:
a=7+8*2-6+8/2
print(a)
b=(7+8)*2-(6+8)/2
print(b)

21.0
23.0

In [66]:
str1='Learning Python'+'is fun'
print(str1)

Learning Pythonis fun

In [67]:
str2='Learning Python'+\
'is fun'
print(str2)

Learning Pythonis fun

In [68]:
question1='Is your birthday in set1?\n'+\
'1 3 5 7\n'+\
'9 11 13 15\n'+\
'17 19 21 23\n'+\
'25 27 29 31\n'+\
'\n Enter 1 for Yes and 0 for No:'
print(question1)

Is your birthday in set1?
1 3 5 7
9 11 13 15
17 19 21 23
25 27 29 31

 Enter 1 for Yes and 0 for No:

In [69]:
print('Hello,world')
print('Hello',end='')
print('world')
s='Hello'+\
'world'
print(s)

Hello,world
Helloworld
Helloworld

In [70]:
8/3

2.6666666666666665

In [71]:
8//3

2

In [72]:
8**2

64

In [73]:
100**0.5

10.0

In [74]:
8%3

2

In [75]:
i=100
j=100
k=100
print(i,j,k)

100 100 100

In [76]:
i=j=k=200
print(i,j,k)

200 200 200

In [77]:
a,b=100,200
print(a,b)

100 200

In [78]:
a=100
b=200
a=b
b=a
print(a,b)

200 200

In [79]:
a=100
b=200
temp=a
a=b
b=temp
print(a,b)

200 100

In [80]:
a=100
b=200
a,b=b,a
print(a,b)

200 100

In [81]:
a=10
a+=2
print(a)

12

In [82]:
a*=5
print(a)

60

In [83]:
a//=3
print(a)

20

In [84]:
a%=6
print(a)

2

In [85]:
k=eval(input())

5

In [86]:
k

5

In [87]:
print(k)

5

In [88]:
s=eval(input('Please enter an integer:'))

Please enter an integer:5

In [89]:
s

5

In [90]:
s2=input('Please enter a string:')

Please enter a string:5

In [91]:
s2

'5'

In [92]:
print(s2)

5

In [93]:
str2=input('Please enter an integer:')

Please enter an integer:5

In [94]:
print(str2)

5

In [95]:
str2

'5'

In [96]:
num1=eval(input('Please enter number1:'))

Please enter number1:5

In [97]:
num2=eval(input('Please enter number2:'))

Please enter number2:5

In [98]:
print(num1+num2)

10

In [99]:
num1,num2=eval(input('Enter two numbers separated by comma:'))

Enter two numbers separated by comma:5,5

In [100]:
print(num1+num2)

10

In [101]:
num1,num2,num3=eval(input('Enter three numbers separated by commas:'))
total=num1+num2+num3
average=total/3
print('total=%d,and average=%f'%(total,average))

Enter three numbers separated by commas:5,5,5
total=15,and average=5.000000

In [102]:
print('total=%d,and average=%.2f'%(total,average))

total=15,and average=5.00

In [103]:
radius=eval(input('Enter the radius:'))
area=radius*radius*3.14159
perimeter=2*3.14159*radius
print('Area=%.2f'%(area))
print('Perimeter=%.2f'%(perimeter))

Enter the radius:5
Area=78.54
Perimeter=31.42

In [104]:
import math
radius=eval(input('Enter the radius'))
area= radius*radius*math.pi
perimeter=2*math.pi*radius
print('Area=%.2f'%(area))

Enter the radius5
Area=78.54

In [105]:
#input 3 integers then calculate total and average
num1,num2,num3=eval(input('Enter three numbers separated by commas:'))

#calculate total and average
total=num1+num2+num3
average=total/2

#display total and average
print('total=%d,and average=%.2f'%(total,average))

Enter three numbers separated by commas:5,5,5
total=15,and average=7.50

In [106]:
a=100
b=200
c,d=a,b
print(c,d)
print(c)
print(d)
print()

100 200
100
200

In [107]:
a=100
b=200
c,d=a,b
print(c,d)
print(c,end='')
print(d,end='***')
print('Over')

100 200
100200***Over

In [108]:
a=100
b=200
c,d=a,b
print(c,d)
print(c,end='$')
print('and')
print(d,end='***')
print('Over')

100 200
100$and
200***Over

In [109]:
x=100
y=3
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x**y)
print(x**0.5)

300
33.333333333333336
33
1
1000000
10.0

In [110]:
str1='Hello'
str2="Python"
str3=str1+str2
print(str3)
a=100
b=200
c=a+b
print(c)

HelloPython
300

In [111]:
str1='Hello,'+\
'Python,Let\'s learning'
str2="Python now"
str3=str1+str2
print(str3)

Hello,Python,Let's learningPython now

In [112]:
a=100
b=3
a//=b
print(a)
a=100
a%=b
print(a)
a=100
a/=b
print(a)

33
1
33.333333333333336

In [113]:
a=100
b=200
print(a,b)
b,a=a,b
print(a,b)

100 200
200 100

In [114]:
a=100
b=200
print(a,b)
temp=a
a=b
b=temp
print(a,b)

100 200
200 100

In [115]:
a=eval(input('Enter an integer:'))
b=a+100
print(a,b)
str1=input('Enter a string:')
str2=str1+'i8'
print(str2)

Enter an integer:5
5 105
Enter a string:5
5i8

In [116]:
abs(-100)

100

In [117]:
max(12,23,100,58,60)

100

In [118]:
min(12,23,100,58,60)

12

In [119]:
pow(2,5)

32

In [120]:
round(6.6)

7

In [121]:
round(5.5)

6

In [122]:
round(4.4)

4

In [123]:
round(6.667,2)

6.67

In [124]:
round(6.663,2)

6.66

In [125]:
int(12.34)

12

In [126]:
import math
side=eval(input('Enter the length of side:'))
area=(5*side*side)/(4*math.tan(math.pi/5))
print(area)

Enter the length of side:5
43.01193501472418

In [1]:
import math
n1,n2,n3=eval(input('Enter threes numbers:'))
mean=(n1+n2+n3)/3
variance=(pow((n1-mean),2)+pow((n2-mean),2)+pow((n3-mean),2))/3
sd=math.sqrt(variance)
print('variance is %.2f,and standand deviation is %.2f'%(variance,sd))

Enter threes numbers:5,5,5
variance is 0.00,and standand deviation is 0.00

In [2]:
import math
n1,n2,n3=eval(input('Enter threes numbers:'))
mean=(n1+n2+n3)/3
variance=(pow((n1-mean),2)+pow((n2-mean),2)+pow((n3-mean),2))/3
sd=math.sqrt(variance)
print('variance is %.2f,and standand deviation is %.2f'%(variance,sd))

Enter threes numbers:5,5,5
variance is 0.00,and standand deviation is 0.00

In [3]:
str(12.3)

'12.3'

In [4]:
str(12)

'12'

In [5]:
ord('A')

65

In [6]:
ord('a')

97

In [7]:
chr(65)

'A'

In [8]:
chr(97)

'a'

In [9]:
a=-888
b=100
c=10
d=2
e=0.5
print(abs(a))
print(max(a,b,c,d,e))
print(min(a,b,c,d,e))
print(pow(c,d))
print(round(7.5))
print(round(6.5))
print(int(123.456))
print(round(123.456,2))

888
100
-888
100
8
6
123
123.46

In [10]:
import math
a=math.fabs(-123.45)
print(a)

b=math.ceil(8.8)
print(b)

c=math.floor(8.8)
print(c)

d=math.exp(1)
print(d)

e=math.log(100)
print(e)

f=math.log(100,10)
print(f)

g=math.sqrt(1000000)
print(g)

123.45
9
8
2.718281828459045
4.605170185988092
2.0
1000.0

In [11]:
m=math.tan(0)
print(m)

n=math.tan(2*math.pi)
print(n)

p=math.degrees(2*math.pi)
print(p)

q=math.radians(360)
print(q)

0.0
-2.4492935982947064e-16
360.0
6.283185307179586

In [12]:
x='Apple i'+str(8)
print(x)

y=ord('Z')
print(y)

z=chr(100)
print(z)

Apple i8
90
d

In [13]:
X=65
if X>60:
    X=X+5
    print('X=%d'%(X))

X=70

In [14]:
numerator=eval(input("Please input numerator:"))
denominator=eval(input("Please input denominator:"))
if denominator!=0:
    ans=numerator/denominator
    print(numerator,"/",denominator,"=",ans)
print("Over")

Please input numerator:125
Please input denominator:125
125 / 125 = 1.0
Over

In [15]:
number=eval(input("Please input a number:"))
if number%5==0:
    print(number,"is 5's multiple")
print("Over")

Please input a number:50
50 is 5's multiple
Over

In [16]:
numerator=eval(input("Please input numerator:"))
denominator=eval(input("Please input denominator:"))
if denominator!=0:
    ans=numerator/denominator
    print(numerator,"/",denominator,"=",ans)
else:
    print("Denominator is invalid")
print("Over")

Please input numerator:125
Please input denominator:25
125 / 25 = 5.0
Over

In [17]:
num=eval(input("Please input a number:"))
if num%2==0:
    print(num,"is an evan number.")
else:
    print(num,"is a odd number.")
print("Over")

Please input a number:88
88 is an evan number.
Over

In [18]:
numer=eval(input("Please input a number:"))
if number>0:
    print(number,"is greater than 0")
else:
    if number<0:
        print(number,"is less than 0")
    else:
        print(number,"is equal to 0")
print("Over")

Please input a number:20
50 is greater than 0
Over

In [19]:
numer=eval(input("Please input a number:"))
if number>0:
    print(number,"is greater than 0")
else:
    if number<0:
        print(number,"is less than 0")
    else:
        print(number,"is equal to 0")
print("Over")

Please input a number:-10
50 is greater than 0
Over

In [20]:
numer=eval(input("Please input a number:"))
if number>0:
    print(number,"is greater than 0")
else:
    if number<0:
        print(number,"is less than 0")
    else:
        print(number,"is equal to 0")
print("Over")

Please input a number:0
50 is greater than 0
Over

In [21]:
number=eval(input("Please input a number:"))
if number>0:
    print(number,"is greater than 0")
elif number<0:
    print(number,"is less than 0")
else:
    print(number,"is equal to 0")
print("Over")

Please input a number:5
5 is greater than 0
Over

In [22]:
score=eval(input("Please input your score:"))
if score>=80:
    print("Grade A")
elif score>=70:
    print("Grade B")
elif score>=60:
    print("Geade C")
elif score>=50:
    print("Grade D")
else:
    print("Grade E")

Please input your score:86
Grade A

In [23]:
weight=eval(input("Please input your weight(kilogram):"))
height=eval(input("Please input your height(centimeter):"))
heightlnCentimeter=(height/100)

bmi=weight/(heightlnCentimeter*heightlnCentimeter)
print("Your BMI is",format(bmi,".2f"))

if bmi<18.5:
    print("Underweight")
elif bmi<25:
    print("Normal")
elif bmi<30:
    print("Overweight")
else:
    print("Obese")

Please input your weight(kilogram):67
Please input your height(centimeter):185
Your BMI is 19.58
Normal

In [26]:
year= eval(input("Please enter which year?"))
if year%400==0 or(year%4==0and year%100!=0):
    print(year,"is leap year")
else:
    print(year,"is not leap year")

Please enter which year?400
400 is leap year

In [28]:
number=eval(input("Please enter a number:"))
if number>=0:
    print(number)
else:print(-number)

Please enter a number:-100
100

In [29]:
score=eval(input('Enter your score:'))
if score>=60:
    print('you pass')
else:
    print('you fail')

Enter your score:90
you pass

In [30]:
number1=eval(input('Enter number1:'))
number2=eval(input('Enter number2:'))
operator=input('Enter an arithmetic operator(+,-,*,/):')
result=0
if operator=='+':
    result=number1+number2
elif operator=='-':
    result=number1-number2
elif operator=='*':
    result=number1*number2
elif operator=='/':
    result=number1/number2
print('%.4f%c%.4f=%.4f'%(number1,operator,number2,result))

Enter number1:88
Enter number2:66
Enter an arithmetic operator(+,-,*,/):-
88.0000-66.0000=22.0000

In [31]:
age=eval(input('請輸入年齡:'))
state=''
if age<6:
    state='童年'
elif age>=7 and age<=17:
    state='少年'
elif age>=18 and age<=40:
    state='青年'
elif age>=41 and age<=65:
    state='中年'
elif age>=66:
    state='老年'
print('您的年齡屬於%s'% state)

請輸入年齡:18
您的年齡屬於青年

In [45]:
day=0
question1 ="Is your birthday in set1?\n"+\
    "1 3 5 7\n"+\
    "9 11 13 15\n"+\
    "17 19 21 23\n"+\
    "25 27 29 31\n"+\
    "\nEnter 1 for tes and 0 for No:"
answer=eval(input(question1))

if answer==1:
    day+=1
question2 ="Is your birthday in set2?\n"+\
    "2 3 6 7\n"+\
    "10 11 14 15\n"+\
    "18 19 22 23\n"+\
    "26 27 30 31\n"+\
    "\nEnter 1 for Yes and 0 for No:"
answer=eval(input(question2))

if answer==1:
    day+=2
question3 ="Is your birthday in set3\n"+\
    "4 5 6 7\n"+\
    "12 13 14 15\n"+\
    "20 21 22 23\n"+\
    "28 29 30 31\n"+\
    "\nEnter 1 for Yes and 0 for No:"
answer=eval(input(question3))

if answer==1:
    day+=4
question4 ="Is your birthday in set4\n"+\
    "8 9 10 11\n"+\
    "12 13 14 15\n"+\
    "24 25 26 27\n"+\
    "28 29 30 31\n"+\
    "\nEnter 1 for Yes and 0 for No:"
answer=eval(input(question4))

if answer==1:
    day+=8
question5 ="Is your birthday in set5\n"+\
    "16 17 18 19\n"+\
    "20 21 22 23\n"+\
    "24 25 26 27\n"+\
    "28 29 30 31\n"+\
    "\nEnter 1 for Yes and 0 for No:"
answer=eval(input(question5))

if answer==1:
    day+=16
print("Your birthday is",day)

Is your birthday in set1?
1 3 5 7
9 11 13 15
17 19 21 23
25 27 29 31

Enter 1 for tes and 0 for No:0
Is your birthday in set2?
2 3 6 7
10 11 14 15
18 19 22 23
26 27 30 31

Enter 1 for Yes and 0 for No:0
Is your birthday in set3
4 5 6 7
12 13 14 15
20 21 22 23
28 29 30 31

Enter 1 for Yes and 0 for No:1
Is your birthday in set4
8 9 10 11
12 13 14 15
24 25 26 27
28 29 30 31

Enter 1 for Yes and 0 for No:0
Is your birthday in set5
16 17 18 19
20 21 22 23
24 25 26 27
28 29 30 31

Enter 1 for Yes and 0 for No:1
Your birthday is 20

In [49]:
score=eval(input('Enter your score:'))
if score>=60:
    score+=10
else:
    score+=8
print('Your score is %d'%(score))

Enter your score:50
Your score is 58

In [51]:
temerature=eval(input('Enter temperature today:'))
if temerature>=28:
    print('Hot')
else:
    print('Comfortable')
print('Over')

Enter temperature today:30
Hot
Over

In [53]:
temerature=eval(input('Enter temperature today:'))
if temerature>=28:
    print('Hot')
elif temerature>=22:
    print('Comfortable')
else:
    print('Cold')
print('Over')

Enter temperature today:25
Comfortable
Over

In [55]:
temperature=eval(input('Enter temperature today:'))
humility=eval(input('Enter humility today:'))
if temperature>=28:
    print('Hot')
elif temperature >=22 and humility>=40 and humility<=50:
    print('Comfortable')
else:
    print('Cold')
print('Over')

Enter temperature today:20
Enter humility today:30
Cold
Over

In [56]:
char=input('Enter a character:')
if char>='a'and char<='z':
    print('%c is lowercase character'%(char))
elif char>='A'and char<='Z':
    print('%c is uppercase character'%(char))
else:
    print('%s is other character'%(char))

Enter a character:a
a is lowercase character

In [57]:
num= eval(input('Enter a number:'))
if num %2==0:
    print('%d'%(num),end='')
    print('is even number.')
else:
    print('%d'%(num),end='')
    print('is odd number.')
print('Test is over')

Enter a number:8
8is even number.
Test is over